:root {
  --bg-color: rgb(21, 21, 21);
  --button-color: rgb(52, 52, 52);
  --text-color: #fff;
}

body {
  font-family: sans-serif;
  text-align: center;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-size: 1.33rem;
  min-height: 100vh;
  display: flex;
  margin: 0;
  position: relative;
}

#root {
  padding: 1rem;
  flex: 1;
}

a {
  color: #ff79c6;
}

button,
textarea,
input {
  background: var(--button-color);
  outline: none;
  border: 1px solid var(--bg-color);
  color: var(--text-color);
  height: 26px;
}

pre {
  text-align: left;
}
