/* width */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #44475a;
  background: #282a36;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ff79c6;
  border-radius: 6px;
}

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover { */
/* } */
