/* width */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #44475a;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #282a36;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ff79c6;
}
